* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #4d7298;
  color: white;
}

header {
  display: flex;
  /* flex-direction: column; */
}

.main-header a {
  display: inline-block;
  max-width: 30%;
}

.header-pic {
  max-width: 30%;
}

h1 {
  font-size: 20px;
}

.buddy-type {
  display: flex;
  flex-direction: row;
}
