* {
  box-sizing: border-box;
  margin: 0;
  font: 16x;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #043b02;
  color: white;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
